@import url("header.css");

/* --- --- --- */
.left_wrapper {
    width: 20vw;
    min-height: 100vh;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.buttonExit {
    cursor: pointer;
    margin: 2px;
}
#njma_db,
#njma_db_selected {
    width: 100%;
    cursor: pointer;
}
/* #njma_db_selected {} */
#njma_db {
    border-bottom: 1px solid grey;
}
#njma_page {
    width: 80vw;
    height: 100vh;
}
.db_item,
.db_selected_item {
    padding: 5px 20px;
}
.db_item p,
.db_selected_item p {
    font-weight: 300;
}
.db_item.active p,
.db_selected_item.active p {
    font-weight: 700;
}
@media(max-width: 720px) {
    .left_wrapper {
        width: 30vw;
    }
    #njma_page {
        width: 70vw;
    }
}
/* --- --- --- */

#njma_page {
    margin: 5px 10px;
}

.table_selected_item td {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 5px 20px;
}

#njma_page {
    /* padding-top: 100px; */
}

.njma_page_header {
    padding: 10px;
}

.njma_page_header input {
    text-align: center;
    width: 50px;
    padding: 2px 10px;
}
